        body {
            background-color: rgb(0, 0, 0);
            color: white;
            margin: 0%;
            padding: 0%;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: normal;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        /* nav bar style */
        #logo a img {
            height: 1.8rem;
            margin-left: 1rem;
        }

        .nav-bar {
            width: 100%;
            background-color: rgba(0, 0, 0, 1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0%;
            padding: 0%;
            border-bottom: 0.1rem solid white;
            height: 4rem;
            position: fixed;
            z-index: 1000;
        }

        #nav-options ul {
            display: flex;
            list-style: none;
            gap: 1.2rem;
        }

        #nav-options ul li {
            font-weight: medium;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #nav-options ul li a:hover {
            color: #ccff00;
        }

        #select {
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 9rem;
            background-color: rgba(0, 0, 0, 1);
            color: white;
            border: none;
        }

        #select:hover {
            color: #ccff00;
        }

        #language-options {
            width: 3rem;
            background-color: black;
            color: white;
            border: none;
            font-weight: normal;
            font-size: 1rem;
        }

        #language-options:hover {
            color: #ccff00;
        }

        #login {
            width: 8rem;
            border: 0.1rem solid #ccff00;
            border-radius: 2rem;
            background-color: black;
            color: white;
            height: 3rem;
        }

        #login:hover {
            background-color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
        }

        #signup {
            width: 8rem;
            border: 0.1rem solid #ccff00;
            border-radius: 2rem;
            background-color: #ccff00;
            color: rgb(0, 0, 0);
            height: 3rem;
        }

        #signup:hover {
            background-color: rgba(204, 255, 0, 0.8);
            cursor: pointer;
        }

        .material-symbols-outlined {
            display: none;
        }


        @media screen and (max-width: 960px) {
            .nav-bar {
                width: 100%;
            }

            #nav-options {
                display: none;
            }

            #select {
                display: none;
            }

            .material-symbols-outlined {
                display: block;
                font-size: 2rem;
                cursor: pointer;
            }

            #login {
                display: none;
            }
        }


        @media screen and (max-width: 650px) {
            .nav-bar {
                width: 100%
            }

            #language {
                display: none;
            }

            #signup {
                height: 2rem;

            }

        }

        /* first page */
        .fcontents {
            margin: 0%;
            padding: 0%;
            height: 100vh;
            position: relative;
            overflow: hidden;
            z-index: 2;
        }


        #fdate {
            font-size: 1.3rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            color: rgba(255, 255, 255, 0.3);
            padding-left: 9rem;
            padding-top: 4rem;
        }

        #fmainheading {
            font-family: 'Times New Roman', Times, serif;
            font-weight: normal;
            color: #b8a36a;
            font-size: 5rem;
            padding-left: 9rem;
        }

        #fdetails {
            font-size: 0.9rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            padding-left: 9rem;
        }

        #tclink {
            text-decoration: none;
            font-size: 0.7rem;
            padding-left: 9rem;
        }

        #GoGold {
            width: 8rem;
            border-radius: 2rem;
            color: rgb(0, 0, 0);
            height: 3rem;
            font-size: 1rem;
            font-weight: normal;
            margin-left: 9rem;
            margin-top: 1rem;
        }

        #fbg {
            position: absolute;
            top: 3rem;
            right: -30rem;
            width: 150%;
            height: 150%;
            object-fit: cover;
            z-index: -1;
        }

        #fbg1 {
            display: none;
        }

        @media screen and (max-width: 650px) {
            .fcontents {
                height: 100vh;
                width: 100%;
                position: relative;
                overflow: hidden;
            }

            #fbg {
                display: none;
            }

            #fbg1 {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }


            #fmainheading {
                font-size: 3rem;
                padding-left: 1rem;
                text-align: center;
            }

            #fdate {
                padding-left: 1rem;
                text-align: center;
            }

            #fdetails {
                padding-left: 1rem;
                text-align: center;
            }

            #tclink {
                padding-left: 8rem;
            }

            #GoGold {
                margin-left: 35%;
            }
        }

        /* second page */


        .scontents {
            height: 100vh;
            width: 100%;
            background: url("https://images.ctfassets.net/ilblxxee70tt/4AMLNM2FP37FHghha7757l/c29e98a9b5a31535a7333855183dca7b/wide_homepage_investing_4k_3.jpeg") center/cover no-repeat;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: white;
            text-align: left;
        }

        #scontents_text {
            padding-left: 10%;
        }

        #smainheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            color: white;
            font-size: 2rem;

        }

        #sdetails {
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
        }

        #sLearn-more {
            width: 8rem;
            border-radius: 2rem;
            background-color: #ccff00;
            color: rgb(0, 0, 0);
            height: 3rem;
            font-size: 1rem;
            font-weight: normal;
        }

        #sdisclaimer {
            font-size: 0.7rem;
            color: rgba(255, 255, 255, 0.6);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
        }

        #sbg {
            display: none;
        }


        @media screen and (max-width: 650px) {
            .scontents {
                width: 100%;
                background: none;
                position: relative;
            }

            #sbg {
                display: block;
                position: absolute;
                top: 80%;
                left: 0;
                width: 100%;
                height: auto;

            }

            #smainheading {
                font-size: 1.5rem;
                text-align: center;
                /* margin-left: 0%;
                padding-left: 1rem;
                text-align: center;
                padding-top: 2rem; */
            }

            #sdetails {
                font-size: 1rem;                
                text-align: center;
            }

            #sLearn-more {
                margin-left: 30%;
            }

            #sdisclaimer {
                font-size: 0.5rem;
                text-align: center;
                padding-top: 5rem;
            }
        }

        /* third page */

        .tcontents {
            margin: 0%;
            padding: 0%;
            height: 100vh;
            background-image: url("https://images.ctfassets.net/ilblxxee70tt/2zqFBs1Dk1ZFLa68vgaCUM/ae93f6273da3b74ae09899a4cdcee75e/wide_crypto_hero_4k_test_2.jpg");
            background-size: cover;
            background-position: center;

        }

        #tmainheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            color: rgb(0, 0, 0);
            font-size: 2rem;
            padding-left: 45rem;
            padding-top: 9rem;
        }

        #tdetails {
            color: black;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 45rem;

        }

        #trisk {
            font-size: 0.7rem;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.6);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 45rem;
            padding-top: 10rem;
        }

        #tLearn-more {
            width: 8rem;
            border-radius: 2rem;
            background-color: #000000;
            color: rgb(255, 255, 255);
            height: 3rem;
            font-size: 1rem;
            font-weight: normal;
            margin-left: 45rem;
            margin-top: 1rem;
            cursor: pointer;

        }

        #tdisclaimer {
            font-size: 0.7rem;
            color: rgba(0, 0, 0, 0.6);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 45rem;
            padding-top: 10rem;
        }

        #tbg {
            display: none;
        }

        @media screen and (max-width: 650px) {
            .tcontents {
                margin: 0%;
                padding: 0%;
                background: url("https://images.ctfassets.net/ilblxxee70tt/7vB1E5FkoYiyUiDiLbBvRY/0304e170b4885b5a84042916c69bc792/mobile_crypto_hero_3.jpg");
                background-size: cover;
                background-position: center;
                position: relative;

            }

            #tmainheading {
                font-size: 1.5rem;
                padding-left: 2rem;
                text-align: center;
                padding-top: 2rem;
            }

            #tdetails {
                font-size: 1rem;
                padding-left: 2rem;
                text-align: center;
            }

            #trisk {
                font-size: 0.5rem;
                padding-left: 11rem;
                padding-top: 5rem;
            }

            #tLearn-more {
                margin-left: 36%;
            }

            #tdisclaimer {
                position: absolute;
                font-size: 0.5rem;
                margin-top: 98%;
                padding-left: 8rem;
                text-align: center;
            }
        }

        /* FOURTH PAGE */

        .focontents {
            height: auto;
            margin: 0%;
            padding: 0%;
            background-image: url("https://images.ctfassets.net/ilblxxee70tt/54Guv4y5evT0ZpKTaC09c1/391b135f648b2582deff63a48ef63c10/RH25_Strategiespromo_wide_homepage_hero_4k.jpeg");
            background-size: cover;
            background-position: center;
        }

        #fomainheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            color: white;
            font-size: 2.5rem;
            padding-left: 10rem;
            padding-top: 10rem;
        }

        #fodetails {
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 10rem;
            padding-top: 1rem;

        }

        #fotc {
            font-size: 1rem;
            color: rgba(255, 255, 255, 1);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 10rem;
            padding-top: 1rem;
        }

        #fogetstarted {
            width: 15rem;
            border-radius: 2rem;
            background-color: #ccff00;
            color: rgb(0, 0, 0);
            height: 3rem;
            font-size: 1rem;
            font-weight: normal;
            margin-left: 10rem;
            margin-top: 1rem;
            cursor: pointer;
        }

        #fodisclaimer {
            font-size: 0.7rem;
            color: rgba(0, 0, 0, 1);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 10rem;
            padding-top: 4rem;
        }

        @media screen and (max-width: 650px) {
            .focontents {
                height: auto;
                background: url("https://images.ctfassets.net/ilblxxee70tt/42t5C9fq8xRabnCPUCaV3W/2ac191b14f3785e23d1c001d4a31bf0e/RH25_strategiespromo_mobile_homepage_hero.jpg");
                background-size: cover;
                position: relative;
            }

            #fomainheading {
                font-size: 1.5rem;
                padding-left: 2rem;
                text-align: center;
                padding-top: 2rem;
            }

            #fodetails {
                font-size: 1rem;
                padding-left: 2rem;
                text-align: center;
            }

            #fotc {
                font-size: 0.8rem;
                padding-left: 2rem;
                text-align: center;
            }

            #fogetstarted {
                margin-left: 28%;
            }

            #fodisclaimer {
                font-size: 0.5rem;
                padding-left: 2rem;
                text-align: center;
                padding-top: 40rem;
            }

        }

        /* FIFTH PAGE */

        .ficontents {

            margin: 0px;
            padding: 0px;
            height: 180vh;
            background-color: rgb(28, 24, 13);
            background-size: cover;
            background-position: center;
        }

        #fimainheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            font-size: 3rem;
            text-align: center;
            padding-top: 6%;
        }

        #filearnmore {
            background-color: rgb(28, 24, 13);
            border-radius: 50px;
            border: 40%;
            border-color: aliceblue;
            color: azure;
            width: 15rem;
            height: 2rem;
            font-weight: normal;
            margin-left: 41%;
        }

        .fiinner {
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 500;
            font-size: 1.3rem;
            padding-top: 6rem;
            display: grid;
            grid-template-columns: repeat(2, 24rem);
            justify-content: center;
            row-gap: 10rem;
        }

        @media screen and (max-width: 650px) {
            .ficontents {
                height: auto;
            }

            #fimainheading {
                font-size: 2rem;
                padding-top: 20%;
            }

            #filearnmore {
                margin-left: 18%;
                margin-bottom: 5rem;
            }

            .fiinner {
                display: grid;
                grid-template-columns: repeat(1, 20rem);
                row-gap: 4rem;
                padding-top: 4rem;
            }

        }

        /* SIXTH PAGE */

        .sixcontents {
            margin: 0%;
            padding: 0%;
            height: auto;
            background-color: #ccff00;
            position: relative;
        }

        #sixmainheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            word-spacing: 1%;
            color: rgb(0, 0, 0);
            font-size: 3rem;
            text-align: center;
            padding-top: 10rem;
        }

        #sixdetails {
            font-size: 0.9rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            text-align: center;
            color: rgb(0, 0, 0);
        }

        #sixsignup {
            width: 20rem;
            border-radius: 2rem;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            height: 3rem;
            font-size: 1rem;
            font-weight: normal;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
            cursor: pointer;
        }

        #sixboimg {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
            width: 30rem;
            height: auto;
        }


        @media screen and (max-width: 650px) {
            #sixmainheading {
                font-size: 2rem;
                padding-top: 5rem;
            }

            #sixdetails {
                font-size: 0.8rem;
            }

            #sixsignup {
                width: 20rem;
            }

            #sixboimg {
                width: 20rem;
            }
        }

        /* SEVENTH PAGE */

        .sevcontents {
            margin: 0%;
            padding: 0%;
            height: 100vh;
            position: relative;
        }

        #sevbg {
            width: auto;
            height: 100vh;
            position: absolute;
            z-index: -1;
        }

        #sevmainheading {
            font-family: 'Times New Roman', Times, serif;
            font-weight: normal;
            color: rgb(255, 255, 255);
            font-size: 5rem;
            text-align: center;
            padding-top: 10rem;
        }

        #sevoverlay {
            background-color: rgba(0, 0, 0, 0.3);
            padding-bottom: 2%;
        }

        #sevgetstarted {
            width: 10rem;
            border-radius: 2rem;
            background-color: #ccff00;
            color: rgb(0, 0, 0);
            height: 3rem;
            font-size: 1rem;
            font-weight: normal;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
            cursor: pointer;
        }

        @media screen and (max-width: 650px) {
            #sevmainheading {
                font-size: 3rem;
                padding-top: 18rem;
                text-align: center;

                /* position: relative; */
            }

            #sevgetstarted {
                width: 15rem;
            }

            #sevbg {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                /* position: absolute;
                z-index: -1; */
            }

        }


        /* ABOUT PAGE */

        .amaindiv {
            width: 100%;
            height: auto;
            background-color: #ccff00;
            color: #000000;
        }

        #atopbar {
            width: 100%;
            height: 4rem;
        }


        #ltopbar {
            padding-top: 2rem;
            margin-left: 2rem;
            color: black;
            text-decoration: underline;

        }

        #ttopbar {
            padding-top: 2rem;
            margin-left: 4rem;
            color: black;
        }

        #atopbar {
            padding-top: 1rem;
        }

        #atopbar a {
            margin-top: 0.5em;
            display: inline-block;
        }


        /* ABOUT PAGE  MAIN CONTENT */
        .amaincontents {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 2fr;
            justify-content: space-evenly;
        }


        #afirstlist ul {
            color: #000000;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: 500;
            list-style: none;
            line-height: 2rem;
            margin-top: 2rem;
        }

        #afirstlistheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: bold;
            margin-left: 2.4rem;
            margin-top: 2rem;
        }

        #asecondlist ul {
            color: #000000;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: 500;
            list-style: none;
            line-height: 2rem;
            margin-top: 2rem;
        }

        #asecondlistheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: bold;
            margin-left: 2.4rem;
            margin-top: 2rem;
        }

        #athirdlist ul {
            color: #000000;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: 500;
            list-style: none;
            line-height: 2rem;
            margin-top: 2rem;
        }

        #athirdlistheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: bold;
            margin-left: 2.4rem;
            margin-top: 2rem;
        }

        #afourthlist ul {
            color: #000000;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: 500;
            list-style: none;
            line-height: 2rem;
            margin-top: 2rem;
        }

        #afourthlist ul li {
            margin-top: 1rem;
            font-size: 1rem;
            word-spacing: 1%;
        }

        #afourthlistheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: bold;
            margin-left: 2.4rem;
            margin-top: 2rem;
        }

        #alogodiv {
            width: 100%;
        }

        #alogo {
            width: 100%;
            margin: 0%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 14rem;
        }

        #astopbar {
            display: none;
        }

        @media screen and (max-width: 650px) {
            #atopbar {
                display: none;
            }

            #astopbar {
                display: flex;
                gap: 1rem;
            }

            #lstopbar {
                color: #000000;
            }

            .amaincontents {
                display: grid;
                grid-template-columns: 1fr;
                text-align: center;
            }

            #afirstlist,
            #asecondlist,
            #athirdlist,
            #afourthlist {
                margin: 0;
                padding: 0;
            }

            #afirstlist ul,
            #asecondlist ul,
            #athirdlist ul,
            #afourthlist ul {
                padding: 0;
                line-height: 1.8rem;
            }

            #afourthlist ul li {
                font-size: 0.9rem;
            }

            #alogo {
                font-size: 4rem;
                text-align: center;
            }
        }