        body {
            background-color: rgb(0, 0, 0);
            color: white;
            margin: 0%;
            padding: 0%;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: normal;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        /* nav bar style */
        #logo a img {
            height: 1.8rem;
            margin-left: 1rem;
        }

        .nav-bar {
            width: 100%;
            background-color: rgba(0, 0, 0,1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0%;
            padding: 0%;
            border-bottom: 0.1rem solid white;
            height: 4rem;
            position: fixed;
            z-index: 1000;
        }

        #nav-options ul {
            display: flex;
            list-style: none;
            gap: 1.2rem;
        }

        #nav-options ul li {
            font-weight: medium;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #nav-options ul li a:hover {
            color: #ccff00;
        }

        #select {
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 9rem;
            background-color: rgba(0, 0, 0,1);
            color: white;
            border: none;
        }

        #select:hover {
            color: #ccff00;
        }

        #language-options {
            width: 3rem;
            background-color: black;
            color: white;
            border: none;
            font-weight: normal;
            font-size: 1rem;
        }

        #language-options:hover {
            color: #ccff00;
        }

        #login {
            width: 8rem;
            border: 0.1rem solid #ccff00;
            border-radius: 2rem;
            background-color: black;
            color: white;
            height: 3rem;
        }

        #login:hover {
            background-color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
        }

        #signup {
            width: 8rem;
            border: 0.1rem solid #ccff00;
            border-radius: 2rem;
            background-color: #ccff00;
            color: rgb(0, 0, 0);
            height: 3rem;
        }

        #signup:hover {
            background-color: rgba(204, 255, 0, 0.8);
            cursor: pointer;
        }

        .material-symbols-outlined {
            display: none;
        }


        @media screen and (max-width: 960px) {
            #nav-options {
                display: none;
            }

            #select {
                display: none;
            }

            .material-symbols-outlined {
                display: block;
                font-size: 2rem;
                cursor: pointer;
            }

            #login {
                display: none;
            }
        }


        @media screen and (max-width: 650px) {
            #language {
                display: none;
            }

            #signup {
                height: 2rem;

            }

        }

        /* first page */
        .fcontents {
            height: 100vh;
            position: relative;
            overflow: hidden;
        }


        #fdate {
            font-size: 1.3rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            color: rgba(255, 255, 255, 0.3);
            padding-left: 9rem;
            padding-top: 4rem;
        }

        #fmainheading {
            font-family: 'Times New Roman', Times, serif;
            font-weight: normal;
            color: #b8a36a;
            font-size: 5rem;
            padding-left: 9rem;
        }

        #fdetails {
            font-size: 0.9rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            padding-left: 9rem;
        }

        #tclink {
            text-decoration: none;
            font-size: 0.7rem;
            padding-left: 9rem;
        }

        #GoGold {
            width: 8rem;
            border-radius: 2rem;
            color: rgb(0, 0, 0);
            height: 3rem;
            font-size: 1rem;
            font-weight: normal;
            margin-left: 9rem;
            margin-top: 1rem;
        }

        #fbg {
            position: absolute;
            top: 0%;
            right: 0%;
            width: 100%;
            object-fit: cover;
            z-index: -1;

        }

        @media screen and (max-width: 650px) {
            .fcontents {
                height: 100vh;
                position: relative;
                overflow: hidden;
            }

            #fbg {
                position: absolute;
                right: 20%;
                top: 50%;

            }

            #fmainheading {
                font-size: 3rem;
                padding-left: 2rem;
                text-align: center;
            }

            #fdate {
                padding-left: 2rem;
                text-align: center;
            }

            #fdetails {
                padding-left: 2rem;
                text-align: center;
            }

            #tclink {
                padding-left: 2rem;
                margin-left: 34%;
            }

            #GoGold {
                margin-left: 2rem;
                margin-left: 43%;
            }
        }

        /* second page */


        .scontents {
            height: 100vh;
            background-image: url("https://images.ctfassets.net/ilblxxee70tt/4AMLNM2FP37FHghha7757l/c29e98a9b5a31535a7333855183dca7b/wide_homepage_investing_4k_3.jpeg");
            background-size: cover;
            background-position: center;
        }

        #smainheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            color: white;
            font-size: 2rem;
            padding-left: 45rem;
            padding-top: 9rem;
        }

        #sdetails {
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 45rem;

        }

        #sLearn-more {
            width: 8rem;
            border-radius: 2rem;
            background-color: #ccff00;
            color: rgb(0, 0, 0);
            height: 3rem;
            font-size: 1rem;
            font-weight: normal;
            margin-left: 50rem;
            margin-top: 1rem;
        }

        #sdesclaimer {
            font-size: 0.7rem;
            color: rgba(255, 255, 255, 0.6);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 45rem;
            padding-top: 7rem;
        }

        #sbg {
            display: none;
        }


        @media screen and (max-width: 650px) {
            .scontents {
                background: none;
                position: relative;
            }

            #sbg {
                display: block;
                position: absolute;
                top: 50%;
                width: 100%;
                height: auto;

            }

            #smainheading {
                font-size: 1.5rem;
                padding-left: 2rem;
                text-align: center;
                padding-top: 2rem;
            }

            #sdetails {
                font-size: 1rem;
                padding-left: 2rem;
                text-align: center;
            }

            #sLearn-more {
                margin-left: 43%;
            }

            #sdesclaimer {
                font-size: 0.5rem;
                padding-left: 2rem;
                text-align: center;
                padding-top: 5rem;
            }
        }

        /* third page */
        
        .tcontents {
            height: 100vh;
            background-image: url("https://images.ctfassets.net/ilblxxee70tt/2zqFBs1Dk1ZFLa68vgaCUM/ae93f6273da3b74ae09899a4cdcee75e/wide_crypto_hero_4k_test_2.jpg"); 
            background-size: cover;
            background-position: center;

        }

        #tmainheading {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            color: rgb(0, 0, 0);
            font-size: 2rem;
            padding-left: 45rem;
            padding-top: 9rem;
        }
        #tdetails {
            color: black;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 45rem;

        }
        #trisk{
            font-size: 0.7rem;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.6);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 45rem;
            padding-top: 10rem;
        }
        #tLearn-more {
            width: 8rem;
            border-radius: 2rem;
            background-color: #000000;
            color: rgb(255, 255, 255);
            height: 3rem;
            font-size: 1rem;
            font-weight: normal;
            margin-left: 45rem;
            margin-top: 1rem;
            cursor: pointer;
            
        }
        #tdesclaimer {
            font-size: 0.7rem;
            color: rgba(0, 0, 0, 0.6);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            padding-left: 45rem;
            padding-top: 10rem;
        }
        #tbg {
            display: none;
        }

        @media screen and (max-width: 650px) {
            .tcontents {
                background: url("https://images.ctfassets.net/ilblxxee70tt/7vB1E5FkoYiyUiDiLbBvRY/0304e170b4885b5a84042916c69bc792/mobile_crypto_hero_3.jpg");
                background-size: cover;
                background-position: center;
                position: relative;

            }
            #tmainheading {
                font-size: 1.5rem;
                padding-left: 2rem;
                text-align: center;
                padding-top: 2rem;
            }

            #tdetails {
                font-size: 1rem;
                padding-left: 2rem;
                text-align: center;
            }
            #trisk{
                font-size: 0.5rem;
                padding-left: 13rem;
                text-align: center;
                padding-top: 5rem;
            }

            #tLearn-more {
                margin-left: 43%;
            }

            #tdesclaimer {
                font-size: 0.5rem;
                padding-left: 2rem;
                text-align: center;
                padding-top: 5rem;
            }
        }